<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anescobar.musicale" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_musicale_logo"
        android:label="@string/app_name"
        android:name=".app.MusicaleApp"
        android:theme="@style/MusicaleTheme" >
        <activity
            android:name=".view.activities.EventsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.EventDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_event_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.ArtistDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_artist_details_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activities.AboutMusicaleActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about_musicale"
            android:parentActivityName=".view.activities.EventsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anescobar.musicale.view.activities.EventsActivity" />
        </activity>
        <activity
            android:name=".view.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.activities.EventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anescobar.musicale.view.activities.EventsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="4a25a0ef7f41118ba2930c2af73141cfb60e93de" />

    </application>

</manifest>
